/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
    color: #333;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

button, input[type="file"] {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover, input[type="file"]:hover {
    background-color: #0056b3;
}

h2 {
    margin: 20px 0 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}

#contextMenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#contextMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contextMenu ul li {
    padding: 8px;
    cursor: pointer;
}

#contextMenu ul li:hover {
    background-color: #eee;
}

#nodeDetails {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
