<!DOCTYPE html>
<html>
<head>
    <title>Link Nodes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Link Nodes</h1>
        <button onclick="">Sign-Up</button>
    </div>
    <canvas id="graphCanvas"></canvas>
    <div class="button-container">
        <button onclick="exportGraph()">Export Graph</button>
        <input type="file" id="importFile" onchange="importGraph()">
        <button onclick="clearGraph()">Clear Graph</button>
    </div>

    <div id="contextMenu" style="display: none; position: absolute; background-color: white; border: 1px solid black; z-index: 1000;">
        <ul>
            <li onclick="removeNode()">Remove Node</li>
        </ul>
    </div>

    <div id="nodeDetails"></div>

    <div class="add-node-menu" style="display: none;">
        <input type="text" id="nodeNameInput" class="input-field" placeholder="Node Name">
        <input type="text" id="nodeDescriptionInput" class="input-field" placeholder="Node Description">
        <button class="add-button" onclick="addNode()">Add Node</button>
    </div>

    <script src="{{ url_for('static', filename='node.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
